html, body {
    width: 100%;
    height: 100%;
}
.main-div {
    width: 100%;
    height: 100%;
    background-color: #889AA4;
}
.top-div{
    background-color: aqua;
    width: 100%;
    height: 50px;
}
.search-bar{
    height: 30px;
    width: 200px;
    border-style:inset ;
    border-radius: 25px;
    margin: 20px; 
    padding: 2px;
}
.top-dropdown{
    position: relative;
    display: inline-block;
}
.dropbtn{
    height: 60px;
    width: 250px;
    border-style:inset ;
    border-radius: 25px;
    margin: 20px; 
    padding: 2px;
    position:absolute;
    cursor: pointer;
}
.dropbtn img{
   border-radius: 50px;
   float:left;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  }
.dropbtn:hover,.dropbtn:focus{
    background-color:honeydew;
}
.top-dropdown{
    position: relative;
    display: inline-block;
    

}
.top-dropdown-content{
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    background-color: #f1f1f1;
    display: none;
    position: absolute;
}
.top-dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.top-dropdown-content a:hover{
    background-color:honeydew;
}
